# Postgres connection to the database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/produce_market?schema=public"
# Secret key to sign in and verify JWT tokens
JWT_SECRET_KEY="f2t-backend-jwt-seccret-key-development-0123"
# Secret key to sign cookies from @fastify/cookie
COOKIE_SECRET_KEY="f2t-backend-cookie-seccret-key-development-0123"
# Setting the Node environment to development (displays more errors)
NODE_ENVIRONMENT="development"
# Port number the backend server connects to (Defualt)
PORT=3000